<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chaos.NaCl.Standard" version="1.0.0" />
  <package id="IndexRange" version="1.0.3" />
  <package id="Substrate.NET.API" version="0.9.24" />
  <package id="Substrate.NET.Schnorrkel" version="1.2.2" />
  <package id="Substrate.Unique.NET.Extension" version="1.17008.0" manuallyInstalled="true" />
</packages>